*.[oa]
configure
Makefile
autom4te.cache/
config.h
config.h~
config.h.in~
config.log
config.status
disk-utils/.deps/
disk-utils/Makefile
fdisk/.deps/
fdisk/Makefile
fdisk/disksize.o
fdisk/fdisk
fdisk/fdisk.o
fdisk/fdiskaixlabel.o
fdisk/fdiskbsdlabel.o
fdisk/fdisksgilabel.o
fdisk/fdisksunlabel.o
fdisk/i386_sys_types.o
fdisk/partname.o
fdisk/sfdisk
fdisk/sfdisk.o
getopt/.deps/
getopt/Makefile
hwclock/.deps/
hwclock/Makefile
include/Makefile.in
lib/.deps/
lib/Makefile
login-utils/.deps/
login-utils/Makefile
m4/Makefile.in
misc-utils/.deps/
misc-utils/Makefile
mount/.deps/
mount/Makefile
partx/.deps/
partx/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
schedutils/.deps/
schedutils/Makefile
stamp-h1
sys-utils/.deps/
sys-utils/Makefile
text-utils/.deps/
text-utils/Makefile
