*.o
*.lo
.deps/
.gitignore
.libs/
Doxyfile
Makefile
auto/desc
auto/types
autom4te.cache/
config.h
config.log
config.status
libpopt.la
libtool
po/Makefile
po/Makefile.in
po/POTFILES
popt.pc
popt.spec
stamp-h1
tdict
test1
test2
test3
test-poptrc
